<cite>
  <span class="avatarspan"><%# TODO php echo get_avatar( $comment, 32 ); %></span>
  <span class="author"><%= author_link(comment) %></span>
  <span class="date"><%= format_comment_date(comment.created_at) %></span>
</cite>
<div class="content">
  <%= comment.body_html.untaint %>
</div>
<div class="clear"></div>

